/*放大镜部分*/
.box {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    /* margin: 50px auto; */
    position: relative;
    /* top: -530px;
    left: 288px; */
}

.box .minBox {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    position: relative;
}

.box .minBox .mask {
    width: 200px;
    height: 200px;
    cursor: move;
    background: #e6eaf3;
    position: absolute;
    opacity: 0.7;
    left: 0px;
    top: 0px;
    display: none;
}

.box .minBox img {
    width: 400px;
    height: 400px;
    display: none;
}

.box .minBox .current {
    display: block;
}

.box .maxBox {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    position: absolute;
    left: 402px;
    top: -1px;
    overflow: hidden;
    display: none;
}

.box .maxBox img {
    width: 800px;
    height: 800px;
    position: absolute;
    display: none;
}

.box .maxBox .current {
    display: block;
}
.box .btn {
    width: 70px;
    height: 400px;
    /* padding-left: 22px; */
    box-sizing: border-box;
    position: relative;
    top: -422px;
    left: -134px;
}

.box .btn img {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    float: left;
    margin: 10px 5px;
}
.box .btn .active {
    border: 1px solid red;
}

/* ******************************* */
/* 页面部分 */
.toplitle {
    width: 1200px;
    height: 35px;
    margin: auto;
    border-bottom: 1px solid #e9e9e9;
}

.titl {
    float: left;
}

.xiangqing {
    width: 1200px;
    height: 500px;
    margin: 30px auto;
    border-bottom: 1px solid #e9e9e9;
}

.amplification {
    width: 530px;
    height: 460px;
    float: left;
}

.shoppingcart {
    width: 530px;
    height: 460px;
    float: left;
    margin-left: 50px;
}
#qgx{
    font-size: 26px;
}
.jiage {
    width: 400px;
    height: 50px;
    float: left;
    font-size: 12px;
    color: #c1383e;
}

.Color {
    width: 450px;
    height:50px;
    color: #808080;
    font-size: 12px;
    /* background: rebeccapurple; */
    float: left;
}

.Size {
    width: 450px;
    height: 70px;
    color: #808080;
    font-size: 12px;
    float: left;
}

.Count {
    width: 450px;
    height: 50px;
    color: #808080;
    font-size: 12px;
    float: left;
}

.Choose {
    width: 450px;
    height: 50px;
    color: #808080;
    font-size: 12px;
    float: left;
}

.Chooseh,
.Choosehh {

    color: #A20000;
}

.Chooses,
.Chooseh,
.Choosehh {
    float: left;
}

.Buy {
    width: 450px;
    height: 80px;
    color: #808080;
    font-size: 14px;
    float: left;
    padding-top: 20px;
}

.Buys {
    background: #F7ABAF;
    width: 166px;
    height: 31px;
    display: block;
    float: left;
    margin-right: 13px;
    border: solid 1px rgb(183, 27, 33);
}

.Addcart {
    background: url(http://i2.vanclimg.com/cms/20150228/vanclsprite.png) no-repeat scroll -147px -285px;
    width: 168px;
    height: 33px;
    display: block;
    float: left;
}

.Buys span {
    margin-left: 60px;
    margin-top: 7px;
    display: block;
    font-size: 14px;
    color: #A50309;
}

#promotion {
    margin-top: 3px;
    float: left;
}

.danpin_YhTsBox {
    width: 400px;
    height: auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A20000;
}

.danpin_YhTsTab h4 {
    width: 400px;
    height: 4px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
    position: relative;
    color: #a20000;
    font-weight: bold;
    border-bottom: 1px solid #a20000;
}

.danpin_YhTsTab h4 span {
    display: inline-block;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: #ffffff;
    position: absolute;
    left: 167px;
    top: -4px;
    padding: 0 8px;
}
/*       */
.selSizeArea {
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 12px;
    *margin: 6px 0px 0px 0px;
    _zoom: 1;
}

.danpinColorTitle {
    float: left;
    color: #666666;
    line-height: 22px;
    padding-bottom: 10px;
}

.selSize {
    width: 335px;
    float: left;
}

.selSizeArea ul {
    margin: 0px;
}

.selSizeArea .selSize ul li {
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    color: #333333;
    cursor: pointer;
    padding: 0px;
    display: inline;
    float: left;
    height: 24px;
    line-height: 22px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    /* position: relative; */
    *margin-bottom: 8px;
    *float: none;
    *display: inline-block;
    *display: inline;
    *zoom: 1;
}

.selSizeArea .selSize ul li p {
    display: block;
    float: left;
    height: 22px;
    margin: 1px 1px 0px 1px;
    background: #fff;
    padding: 0 9px;
    width: auto;
}

.danpinColorTitle {
    float: left;
    color: #666666;
    line-height: 22px;
    padding-bottom: 10px;
}

.full .selColor {
    width: 525px;
    float: left;
    padding: 0;
}

.selColor li {
    cursor: pointer;
    border: 1px solid #B4B4B4;
    display: inline;
    float: left;
    height: 40px;
    margin: 0px 8px 8px 0px;
    width: 95px;
    /* position: relative; */
}

a:link,
a:visited {
    /* color: #333; */
    text-decoration: none;
}

.colorBlock span {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin: 1px 0px 0px 1px;
    overflow: hidden;
    cursor: pointer;
}

.colorBlock p {
    color: #666;
    display: inline;
    float: left;
    line-height: 16px;
    margin-left: 6px;
    padding-top: 4px;
    width: 46px;
    overflow: hidden;
    height: 34px;
    cursor: pointer;
}

.selColor li .colorHoverok {
    display: none;
    width: 14px;
    height: 13px;
    background: url(//i1.vanclimg.com/item/sprite0725.png) no-repeat scroll;
    background-position: -1151px 0;
    position: absolute;
    right: 1px;
    bottom: 1px;
    _right: 0px;
}
