body,html{
    overflow-x: hidden ;
}
.Listpp{
    width: 1200px;
    margin: auto;
    /* height: 5000px; */
    height: 1500px;
}
.Listpp ul li{
    width: 229px;
    float: left;
    margin: 0px 4px ;
    display: inline;
}
.tupian{
    width: 230px;
    height: 230px;
    z-index: 0;
    position: relative;
    text-align: center;
}
/* .bigtupian{
    width:230px;
    height: 430px;
    z-index: 1;
    position: absolute;
    text-align: center;
    display: none;
    top: 0px;
    left: 218px;
}
.bigtupian img{
    width: 100%;
}
.tupian:hover.bigtupian{
    display: block;
} */
.title{
    margin-top: 10px;
    padding: 0px 3px 5px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    height: 38px;
    overflow: hidden;
}
.price{
    padding: 0px 3px 5px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    color: #b52024;
}
.qianggou {
    font-size: 16px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 25px;
    padding: 18px 0 2px 5px;
    color: #FFF;
    font-family: "arial";
    text-indent: 8px;
    background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -706px;
}
.price strong {
    font-weight: bold;
    text-decoration: line-through;
}
/*------------------------*/
.box {
    width: 1300px;
    height: 100%;
    margin: 10px auto;
    background-color: white;
}

.box-list {
    width: 100%;
    height: 500px;
}

/* .btn-class span {
width: 150px;
height: 35px;
line-height: 35px;
border: 1px solid #000;
display: inline-block;
text-align: center;
} */
.item {
    margin: 5px;
    width: 240px;
    height: 350px;
    /* border: 1px solid #efefef; */
    float: left;
}

.tupian img:hover {
    border: 1px solid #b81c22;
}
.tupian img{
    border: 1px solid #efefef;
}
.item-box {
    text-align: center
}

.item img {
    margin-top: 2px;
    width: 200px;
    height: 200px;
}

/* .price {
text-align: left;
margin-left: 10px;
color: red;
font-size: 23px;
} */
/* .title {
text-align: left;
margin-left: 10px;
color: #666;
font-size: 14px;
} */
.dis {
    text-align: left;
    margin-left: 10px;
    color: #2272c8;
    font-size: 10px;
}

.storeName {
    text-align: left;
    margin-left: 15px;
    color: #923;
    font-size: 18px
}

.page {
    /* width: 330px; */
    /* margin: 40px auto; */
    margin: 0 2px;
    text-align: center;
    font-family: Verdana;
    /* padding: 10px 16px; */
    float: right;
}

.page a {
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    border: #CCC solid 1px;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
    background: #FFF
}

.page a:hover {
    background: #09F;
    color: #FFF;
}

.page .active {
    background: #b81c22
}

.page a:active {
    opacity: .8
}

.buttpa {
    width: 1200px;
    height: 50px;
    margin: 40px auto;
}

.next2 {
    font-size: 14px;
    float: right;
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid #c1c1c1;
}

.previous {
    border-radius: 2px;
    font-size: 14px;
    float: right;
    margin-top: 2px;
    border: 1px solid #c1c1c1;
}

/*------------*/
.floatdiv {
    width: 1200px;
    height: 70px;
    background: white;
    border-bottom: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    margin: 20px auto;
    z-index: 10000;
}

.all {
    border-bottom: 2px solid #b81c22;
    width: 1200px;
    height: 30px;
}

.all1 {
    float: left;
    width: 70px;
    height: 30px;
    background: #b81c22;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.next {
    float: right;
}

.box {
    width: 1200px;
    height: 28px;

}

.btn-class ul li {
    float: left;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    color: #9f9f9f;
    border-right: 1px solid #9f9f9f;
}

.btn-class ul li i {
    display: inline-block;
    height: 11px;
    width: 11px;
    line-height: 11px;
    margin-left: 0px;
    text-indent: -9999px;
    vertical-align: middle;
    background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat;
    background-position: 0px -3090px;
}

.btn-class ul li:hover {
    color: #b52024;
}

.nexts {
    background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -72px;
    height: 17px;
    width: 19px;
    cursor: pointer;
    display: block;
    float: left;
}

.nextx {
    background: url(http://i.vanclimg.com/search/sprites_20130606.png) no-repeat 0px -89px;
    cursor: pointer;
    height: 17px;
    width: 48px;
    display: block;
    float: left;
}
/* 鼠标滑过列表显示大图 */
.bighover {
    width: 310px;
    height: 430px;
    position: relative;
    top: -308px;
    z-index: 10000;
    left: 240px;
    background: rgb(199, 219, 230);
    border: 1px solid rgb(147, 147, 147);
    text-align: center;
    display: none;
}
.bighover img {
    width: 300px;
    height: 300px;
    margin: 5px auto;
    vertical-align: middle;
    border: 1px solid #f0f0f0;
}

.shoujia {
    width: 250px;
    margin: auto;
    height: 50px;
}

.price2 {
    width: 100px;
    float: left;
    color: #c1383e;
    font-size: 12px;
}

.shoujia span {
    float: right;
    width: 50px;
    font-size: 12px;
    color: #c1383e;
}
.shoujia span strong{
    font-size: 26px;
    color: #c1383e;
}