main{
    margin: auto;
    width: 1200px;
    height: 1000px;
}
h1 {
    height: 35px;
    width: 415px;
    float: right;
    line-height: 35px;
    margin: 0 100px 0 0;
    border-bottom: 2px solid #b81e20;
    /* padding-left: 10px; */
    font-size: 20px;
    color: #a2a2a2;
    font-weight: bolder;
}
h1 span {
    font-size: 14px;
    float: right;
}
h1 span a {
    color: #b52024;
    margin: 0 0 0 3px;
}
.Let{
    width: 465px;
    height: 500px;
    /* border-left: 1px solid #C3C3C3; */
    float: left;
    /* background-color: #F9F9F9; */
    margin: 0 0 0 130px;
}
.Let img{
    width: 465px;
}
.Rig{
    width: 415px;
    float: right;
    margin: 10px 95px 0 0;
    border: 1px solid #9A9A9A;
}
#phoneID{
    width: 260px;
    border: solid 1px #cbcbcb;
    height: 43px;
    line-height: 43px;
}
#yanz{
    width: 150px;
    border: solid 1px #cbcbcb;
    height: 43px;
    line-height: 43px;
}
#phoneyanID,#usernameID{
    width: 390px;
    border: solid 1px #cbcbcb;
    height: 43px;
    line-height: 43px;
}
.form-item{
    background: #9A9A9A;
    color: #FFFFFF;
    width: 390px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin:52px auto;
    background: #b81e20;
}
.big span{
    font-size: 12px;
    color: #cbcbcb;
}
.phone,.phoneyan,.username{
    margin: 10px 0;
}
.ma{
    position: absolute;
    top: 250px;
    right: 360px;
}
/* .yan .yanspan{
    position: absolute;
    top: 260px;
    right: 255px;
    color: #b52024;
    border: 1px solid #b52024;
} */
.log{
    border: solid 1px #cbcbcb;
    width: 414px;
    height: 35px;
}
.putong,.kuaisu{
float: left;
width: 200px;
height: 35px;
text-align: center;
line-height: 35px;
color: #9A9A9A;
}
.aciv{
    background: #b81e20;
    float: left;
    width: 207.5px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    display: block;
    color: white;
}
.acivkp{
    display: block;
}
.kp{
    display: none;
}
.yanspan{
margin-left: 160px;
}

.hezuo{
    width: 415px;
}
.hezuo img{
    width: 100%;
}
.phoneyan,.yan,.kp,.phone{
    margin-left: 10px;
}
.zhaohui{
    position: absolute;
    top: 358px;
    right: 267px;
}
#usernameID{
    margin-left: 10px;
}
